{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100
            }
        ]
    },
    "globals": {
        "document": true,
        "window": true,
        "XMLHttpRequest": true
    },
    "plugins": [
        "prettier"
    ]
}